body {
    margin-bottom: 120px;
    font-family: Arial;
}

input {
    display: block;
}

.para-inline {
    width: 200px;
    display: inline-block;
    vertical-align: middle;
}

.google-logo {
    display: block;
    width: 200px;
    margin-left: 150px;
    margin-bottom: 10px;
}

.tbox-7e {
    font-size: 16px;
    width: 500px;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.first-name,
.last-name {
    display: inline-block;
    width: 100px;
    height: 25px;
    border-radius: 6px;
    font-size: 14px;
    border-style: solid;
    padding-left: 10px;
}

.email-input {
    width: 220px;
    height: 25px;
    border-radius: 6px;
    font-size: 14px;
    border-style: solid;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-signup {
    width: 235px;
    height: 35px;
    background-color: rgb(53, 122, 250);
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
}

.content-8e {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.destination,
.location {
    width: 280px;
    height: 25px;
    margin-bottom: 5px;
    background-color: rgb(240, 240, 240);
    font-size: 14px;
    padding: 5px;
    padding-left: 15px;
    border: none;
}

.sche-btn,
.request-btn {
    font-size: 12px;
    margin-top: 15px;
    height: 35px;
    margin-right: 10px;
    border: none;
}

.sche-btn {
    width: 140px;
}

.request-btn {
    width: 100px;
    background-color: black;
    color: white;
}